################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HostingStartupDemo/bin/Debug/netcoreapp3.1
/HostingStartupLibrary/bin/Debug/netcoreapp3.1
/HostingStartupLibrary/obj
/HostingStartupDemo/obj
/StartupFilterDemo/bin/Debug/netcoreapp3.1
/StartupFilterDemo/obj
